.container {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;

  &__taskText {
    display: inline-block;
    font-size: 18px;
    margin: 0 10px 0 0;
    vertical-align: bottom;
  }

  &__taskInput {
    display: inline-block;
    margin-right: 10px;
  }

  &__taskLists {
    list-style: none;
  }

  &__taskList {
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
  }

  &__taskListContent {
    display: inline-block;
    max-width: 300px;
    min-width: 300px;
    margin: 0 auto;
  }

  &__taskListButton {
    vertical-align: top;
    margin-top: 2px;
    margin-right: 30px;
  }
}
